<header id="sitehead">
  <nav id="navbelt">
    <ul>
      <li><%= nav_link('News', 'news.html', class: 'belt-btn') %></li>
      <li><%= nav_link('Consulting', 'consulting.html', class: 'belt-btn') %></li>
      <li>
        <%= nav_link(image_tag('fiercepunchstudioslogo9.png', id: 'logo'), '/', class: 'belt-btn belt-buckle', title: 'Fierce Punch Studios Logo', alt: 'Fierce Punch Studios Logo')  %>
      </li>
      <li><%= nav_link('Games', 'games.html', class: 'belt-btn') %></li>
      <li><%= nav_link('Contact', 'contact.html', class: 'belt-btn') %></li>
    </ul>
</nav>
</header>
