<nav id="navbelt-small" class="show-for-small navrow">
  <a role="button" id="toggle-link" class="left-off-canvas-toggle left" href="#"><i class="fi-list"></i></a>
  <h3><%= nav_link('Fierce Punch Studios', '/', class: 'title') %></h3>
</nav>
<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><%= nav_link('Home', '/', class: 'belt-btn') %></li>
    <li><%= nav_link('Consulting', 'consulting.html', class: 'belt-btn') %></li>
    <li><%= nav_link('Games', 'games.html', class: 'belt-btn') %></li>
    <li><%= nav_link('About', 'about.html', class: 'belt-btn') %></li>
    <li><%= nav_link('Contact', 'contact.html', class: 'belt-btn') %></li>
  </ul>
</aside>
