---
title: Consulting
---

<h2>Consulting</h2>

<div class="selling-point">
  <h3>Expand your relationships with local communities.</h3>
  <p>We connect you to audiences through social media platforms. From designing your social media strategy to setting up accounts with you, we give you the tools to enage your community.</p>
  <p class="testimonial">"Their Facebook tutorials made it easy to understand what all the fuss is about." - Deb, <%= link_to 'Ooh Aaah Massage', 'http://www.oohaaahmassage.com' %></p>
</div>

<div class="selling-point">
  <h3>Reach your audience where they live through a modern website.</h3>
  <p>We design and develop custom websites for everyone, including <%= link_to 'increasingly relevant', 'http://www.theverge.com/2015/10/8/9480779/google-search-mobile-vs-desktop-2015' %> mobile-only Internet users.</p>
  <p class="testimonial">"Elizabeth's research gave me numbers for real costs and showed me how much I could save with a new site." - Sandy, <%= link_to 'Northern Lights Tea Company', 'http://northernlightstea.com/' %></p>
</div>

<div class="selling-point">
  <h3>Take ownership of your digital presence.</h3>
  <p>We guide you through project planning to make sure you stay in control. We can take the lead on your projects, and we can even teach you to build and maintain them yourself.</p>
  <p class="testimonial">"They helped me overcome a persistent layout problem on our commerce site by teaching me CSS techniques for WordPress." - Emily, <%= link_to 'Ureshii', 'http://www.ureshii.org/' %></p>
</div>

<p class="beseech"><%= link_to 'Contact Us To Get Started!', 'contact.html', class: 'call-to-action btn' %></p>
